@model WebApplication1.Models.ReaderBook

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReaderBook</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Livre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Livre.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookGet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookGet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookReturn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookReturn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecteur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecteur.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
