@model X.PagedList.IPagedList<WebApplication1.Models.Readers>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="searchcString">searchString:</label>
        <input type="text" name="searchcString" value="@ViewBag.searchcString" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<p>Filtered by Reader: @ViewBag.searchcString</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.NameSortParam })">
                    @Html.DisplayNameFor(model => model.First().Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FavoriteGenres)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FavoriteGenres)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))
